In [6]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [30]:
# Create a variable called 'name' that holds a string
from os import lseek


name = "dog"
type(name)

str

In [34]:
# Create a variable called 'country' that holds a string
country = "Ukraine"
country

'Ukraine'

In [59]:
# Create a variable called 'age' that holds an integer
age = "44"
type(age)

str

In [60]:

# Create a variable called 'hourly_wage' that holds an integer
hourly_wage = 25
type(hourly_wage)

int

In [61]:
# Calculate the daily wage for the user
daily_wage = hourly_wage * 8
daily_wage

200

In [62]:
# Create a variable called 'satisfied' that holds a boolean
satisfied = True
type(satisfied)

bool

In [63]:
# Print out "Hello <name>!"
name = ("Hello " + "Mohan" + "!")
name

'Hello Mohan!'

In [64]:
# Print out what country the user entered
print(name + "are you from " + country + "?")

Hello Mohan!are you from Ukraine?

In [65]:
# Print out the user's age
print(name + "are you " + age + "?")

Hello Mohan!are you 44?

In [72]:
# With an f-string, print out the daily wage that was calculated
print(f"Is your daily wage {daily_wage}?")

Is your daily wage 200?

In [78]:
# With an f-string, print out whether the users were satisfied
print(f"You seem like you were satisfied last night!{satisfied}")

You seem like you were satisfied last night!True

In [84]:
# Create a Python list to store your grocery list
shopping_list = ["peas", "tuna", "tacos", "Peanut Butter", "Jelly"]
shopping_list

['peas', 'tuna', 'tacos', 'Peanut Butter', 'Jelly']

In [85]:
# Print the grocery list
print(shopping_list)

['peas', 'tuna', 'tacos', 'Peanut Butter', 'Jelly']

In [86]:
# Change "Peanut Butter" to "Almond Butter" and print out the updated list
shopping_list[3] = "Almond Butter"
print(shopping_list)

['peas', 'tuna', 'tacos', 'Almond Butter', 'Jelly']

In [88]:
# Remove "Jelly" from grocery list and print out the updated list
shopping_list.remove("Jelly")
print(shopping_list)

['peas', 'tuna', 'tacos', 'Almond Butter']

In [91]:
# Add "Coffee" to grocery list and print the updated list
shopping_list.append("Coffee")
print(shopping_list)

['peas', 'tuna', 'tacos', 'Almond Butter', 'Coffee']

In [7]:
import numpy as np
import pandas as pd

In [8]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [12]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [21]:
# database set up
engine = create_engine("sqlite:///hawaii.sqlite")

In [14]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [25]:
# We can view all of the classes that automap found

In [17]:
Base.classes.keys()

['measurement', 'station']

In [23]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [26]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 

# Calculate the date one year from the last date in data set.

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# How many stations are available in this dataset?

In [ ]:
# What are the most active stations?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge